
/MSPM/SPM/trained/full/4gram/neopets-withc_cp_list_4_6.pack
/MSPM/SPM/trained/full/4gram/rockyou-withc_cp_list_4_6.pack
/data/rockyou-withcount
/data/rockyou-withcount-test
/data/rockyou-withcount-train
